[Pychatops]
netor_home_directory = /home/adrian/projects/pychatops/
device_backup_directory = /home/adrian/projects/pychatops/ansible/backup/
allowed_processes_to_run = 60

[Ansible]
ansible_hosts_path_name = devices/hosts
ansible_backup_hosts_path_name = ansible/backup/hosts
multiple_src_dst = 100
max_devices = 50
ansible_vault_file = /home/adrian/.vault_pass

[Slack]
bots_directory = slack/bots/
slack_rtm_delay = 1

bot_net_oauth =
bot_net_log_file = log/slack-bot-net.log
bot_net_ansible_playbooks_full_path_name = ansible/playbooks/network/
bot_net_authorized_users_file = slack/authorizations/net.json
bot_net_authorized_in_channel_file = slack/authorizations/auth-bot-net.txt
bot_net_extra_data_file = slack/bots/net/data/links.txt
bot_net_cmd_log = log/slack-bot-net-cmd.log

bot_skynet_oauth =
bot_skynet_log_file = log/slack-bot-skynet.log
bot_skynet_ansible_playbooks_full_path_name = ansible/playbooks/skynet/
bot_skynet_authorized_users_file = slack/authorizations/auth-user-skynet.txt
bot_skynet_authorized_in_channel_file = slack/authorizations/auth-bot-skynet.txt
bot_skynet_extra_data_file =
bot_skynet_cmd_log = log/slack-bot-skynet-cmd.log
