no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
!
hostname {{item.hostname}}
!
boot-start-marker
boot-end-marker
!
logging buffered 32000
no logging console
enable secret 0 cisco
!
aaa new-model
!
!
aaa authentication login default local-case
aaa authorization exec default local
!
!
!
!
!
aaa session-id common
!
!
!
!
no ip source-route
ip options drop
!
!
!
!
ip dhcp bootp ignore
!
{% block core_access %}
{% endblock %}
!
!
ip cef
no ip domain lookup
ip domain name quadrant.edu
no ipv6 cef
!
!
!
!
username cisco privilege 15 secret 0 cisco
!
!
ip ssh version 2
!
!
!
!
!
!
!
!
interface vlan 1
 no ip address
 shutdown
!
no ip http server
no ip http secure-server
!
!
ip route 0.0.0.0 0.0.0.0 {{item.def_gw}}
!
!
!
!
snmp-server community snmpCommunity rw
!
!
!
!
control-plane
!
banner login %

Unauthorized access is prohibited!

%
!
line con 0
 exec-timeout 20 0
 logging synchronous
line aux 0
 exec-timeout 0 1
 no exec
 transport output none
line vty 0 15
 exec-timeout 20 0
 logging synchronous
 transport input ssh
 transport output ssh
!
ntp server 1.0.0.1
end

